/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;
    color: var(--text-color);
}


/* ===== Colours ===== */
:root{
    --body-color: #010718;
    --nav-color: #18378b;
    --side-nav: #010718;
    --text-color: #FFF;
    --search-bar: #F2F2F2;
    --search-text: #010718;
    --white: #ffffff;
    --red: 	#d62d20;
    --amarillo: #ffa700;
    --blue:#3367d6;
    --orange:#e34c26;
    --green:#008744;
    --blueReact: #61DBFB;
    --grey: #414141;
}
a {
    text-decoration: none;
    color: var(--text-color)
  }
  
  a:hover {
    color: #bbbbbb;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
body{
    height: 100vh;
    background-color: var(--body-color);
}

body.dark{
    --body-color: #18191A;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #CCC;
    --search-bar: #242526;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}

body.dark nav{
    border: 1px solid #393838;

}

nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen{
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.menu .logo-toggle{
    display: none;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}

.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before{
    opacity: 1;
}

.nav-bar .darkLight-searchBox{
    display: flex;
    align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.dark-light i,
.searchToggle i{
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun{
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun{
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon{
    opacity: 0;
    pointer-events: none;
}

.searchToggle i.cancel{
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active i.cancel{
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.active i.search{
    opacity: 0;
    pointer-events: none;
}

.searchBox{
    position: relative;
}

.searchBox .search-field{
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: var(--nav-color);
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.searchToggle.active ~ .search-field{
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}

.search-field::before{
    content: '';
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: var(--nav-color);
    transform: rotate(-45deg);
    z-index: -1;
}

.search-field input{
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: var(--search-text);
    background-color: var(--search-bar);
}

body.dark .search-field input{
    color: var(--text-color);
}

.search-field i{
    position: absolute;
    color: var(--nav-color);
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

body.dark .search-field i{
    color: var(--text-color);
}

@media (max-width: 790px) {
    nav .nav-bar .sidebarOpen{
        display: block;
    }

    .menu{
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu{
        left: -0%;
    }

    nav.active .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose{
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links{
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a{
        display: block;
        margin-top: 20px;
    }
}

.about{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);

}
.about .container{
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px ;
    padding-top: 55px;
    
}
 .about .subtitle {
    font-weight: 600;
    font-size: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
        
}

.circleAvatar{
    margin-top: 45px;
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .circle{
     width: 170px;
     height: 170px;
     border-radius: 50%;
     position: absolute;
     opacity: 0.75;
     z-index: 1;
     background-color: rgb(71, 59, 49);
 }

 .fotomia{
     z-index: 2;
     width: 220px;
     height: 220px;
 }

 .bio {
     font-size: 30px;
     text-align: center;
     line-height: 1.11;
     margin-bottom: 18px;
 }

 .container {
     width: 100%;
     display: inherit;
     max-width: 1200px;
     justify-content: inherit;
     margin: 70px auto;
     padding: 0 20px
 }

 .portfolio__grid{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     gap: 40px;
 }

 .portfolio__item {
     background: var(--nav-color);
     position: relative;
     object-fit: cover;
     overflow: hidden;
     font-size: 14px;
     border-radius: 10px;
     
     
     
 }

 .portfolio__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: all 1s;
    border-radius: 10px;
    max-height: 190px;
   
 }

 .portfolio__description {
     padding: 50px;
     position: absolute;
     background-color: rgb(0, 0, 0, 0.7);
     top: 300px;
     height: 100%;
     width: 100%;
     opacity: 0;
     transition: all 0.5s;
     border-radius: 10px;
     z-index: 1;
     display: flex;
     justify-content: center;
     flex-direction: column;
    

 }

 .portfolio__item:hover .portfolio__description {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s;
    border-radius: 10px;
    transform: translateY(-300px);
  }
  
  .portfolio__item:hover .portfolio__img {
    transition: all 1s;
    border-radius: 10px;
    transform: scale(1.3);
  }

 .portfolio__description--title {
     color: var(--text-color);
 }

 .portfolio__description--text{
     margin: 20px 0;
 }

 .buttons__container {
     display: flex;
     border-radius: 10px;
 }

 .button {
     background: #010;
     color: #f5f5f5;
     padding: 5px 10px;
     display: inline-block;
     margin: auto;
     border-radius: 10px;
 }

 .button:hover {
    color: #bbbbbb;
  }
  

  .fa-envelope{
    color: var(--red);
  }
  
  .fa-github{
    color: rgb(255, 255, 255);
  }
  
  .fa-twitter{
    color: #00acee;
  }
  
  .fa-linkedin-in{
    color:#0e76a8  ;
  }
  
  
  
  
  .fa-envelope:hover {
    transition: all 0.3s;
    color: var(--grey);
  }
  .fa-github:hover {
    transition: all 0.3s;
    color: var(--grey);
  }
  .fa-twitter:hover {
    transition: all 0.3s;
    color: var(--grey);
  }
  .fa-linkedin-in:hover {
    transition: all 0.3s;
    color: var(--grey);
  }
  
  .services__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  
  .services__item {
    padding: 20px;
    /* background: rgba(245,245,245,0.6); */
    border-bottom: 5px solid transparent;
    border-radius: 10px;
    transition: border 0.3s;
  }
  
  /* .services__item:hover {
    transition: border 0.3s;
    border-bottom: 5px solid var(--blue);
  } */
  
  .services__item:hover i {
    transition: all 0.3s;
    color: var(--grey);
  }
  
  .services__item i {
    transition: all 0.3s;
    font-size: 40px;
    margin: 20px 0;
  }
  
  .services__item h3 {
      margin: 10px 0;
  }


  .fa-mobile-screen-button{
    color: black;
  }
  
  .fa-pencil-ruler{
    color: var(--orange);
  }
  
  .fa-code{
    color: var(--green);
  }
  
  .fa-thumbs-up{
    color: var(--red);
  }
  
  .fa-tachometer-alt{
    color: var(--amarillo);
  }
  
  .fa-crosshairs{
    color: var(--blue);
  }
  
  .footer {
    
    padding: 30px;
    text-align: center;
    font-size: 14px;
  }
  
  .footer a {
    color: var(--grey);
  }
  
  .footer a:hover {
    color: var(--blue);
  }

  .contact__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
  }

  .contact__item i {
    font-size: 50px;
    margin-bottom: 10px;


  }


  @media (max-width: 767px) {

   
  
    section {
      padding: 20px 0;
    }
  
   
    
    .services__grid,
    .portfolio__grid {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  
  
    .contact__grid {
      grid-template-columns: 1fr 1fr;
    }
  
    .contact__item {
      padding: 18px;
      border-radius: 10px;
      transition: all 0.3s;
    }
  }

  @media (max-width: 438px) {
    .container .subtitle {
        font-size: 25px;
        margin: 15px 0;
        padding-bottom: 15px;


    }

    .container .bio {

        font-size: 30px;
        line-break: 50px;
    }

    nav .nav-bar .logo a{
        font-size: 20px;
    }

    section {
        padding: 10px 0;
      }
    
     
      
      .services__grid,
      .portfolio__grid {
        grid-template-columns: 1fr;
        gap: 10px;
      }
    
    
      .contact__grid {
        grid-template-columns: 1fr 1fr;
      }
    
      .contact__item {
        padding: 18px;
        border-radius: 10px;
        transition: all 0.3s;
      }
    
}

@media (max-width: 355px) {
    

    nav .nav-bar .logo a{
        font-size: 15px;
    }
    .services__grid,
    .portfolio__grid {
      grid-template-columns: 1fr;
      gap: 10px;
    }
  
  
    .contact__grid {
      grid-template-columns: 1fr 1fr;
    }
  
    .contact__item {
      padding: 18px;
      border-radius: 10px;
      transition: all 0.3s;
    }
    
}